.boanoite{
    color: rgb(255, 105, 183);
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;

}

.bomdia{
    color: rgb(74, 74, 255);
}

.externo{
    color: brown;
    font-weight: bold;
    font-size: 40px;
    font-family: monospace;


}